* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    padding:30px;
    background: black;
    color: white;
    font-size: 1.2rem;
}

.logo {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 100px;
}

main {
    /* display: flex; */
    min-height: 75vh;
    background-image: url('../style/img/logo\ dbz.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-color: rgba(194, 175, 212, 0.808);  

    /* background: url("../assets/img/dragon-ball.jpg"); */
}
h1{
    margin-top: -3px;
    margin-bottom: 20px;
    color: rgb(19, 83, 23);
    text-align: center;
    text-decoration: underline;
}
.Présentation{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    color:rgb(0, 2, 0);
     text-align: justify;

}
footer {
    display: flex;
    min-height: 5vh;
    padding:30px;
    background: black;
    color: white;
    justify-content: center;
}
@media (max-width: 600px) {
    main > .Présentation{
        flex-basis: 100%;
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    main > .Présentation{
        flex-basis: 100%;
        flex-direction: column;
    }
}